* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.darkmode a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

nav {
  background: #FEFEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}

.darkmode nav{
  background: #14213d;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav .logotipo {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

nav .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .enlaces a {
  margin-right: 40px;
}

nav .enlaces a:hover {
  color: #707070;
}

#form {
  border: 1px solid black;
  width: 350px;
  margin: auto;
}

.darkmode #form{
  border: 1px solid white;
  width: 350px;
  margin: auto;
}

#form legend {
  font-weight: bold;
  font-size: 12px;
}

#form ol {
  list-style: none;
}

#form ol li {
  padding-bottom: 5px;
}

#form ol li label {
  width: 120px;
  float: left;
  text-align: center;
}

button{
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
  border: none;
  background: transparent;
}

button:hover{
  background-color: black;
  color: white;
}

.darkmode button{
  color: white;
}

.darkmode button:hover{
  background-color: white;
  color: black;
}

.estilo{
  text-align: center;
  font: black;
  font-size: 30px;
  padding: 10px;
}

body.darkmode{
  background-color: #14213d;
  color: white;

}

/*Diseño de la tabla*/

table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 90%;
}

.darkmode table{
  background-color: black;
  text-align: left;
  border-collapse: collapse;
  width: 90%;
}

th, td{
  padding: 10px;
}

thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

.darkmode thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even){
  background-color: #ddd;
}

.darkmode tr:nth-child(even){
  background-color: black;
}

tr:hover td{
  background-color: #369681;
  color: white;
}

.darkmode tr:hover td{
  background-color: #369681;
  color: white;
}

/*Diseño de los selectores*/
label {
  display: block;
  margin-bottom: 5px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}