/* !Declaramos dos variables */
:root {
    /* *la etiqueta "calc" nos ayuda a efectuar operaciones matematicas */
    /* *W se usa para el ancho de las tarjetas, 
    *le damos el 70% del ancho de la ventana dividio entre 6 que seran las tarjetas a lo ancho*/
    --w: calc(70vw / 6);
    /* * 4 elementos de alto */
    --h: calc(70vh / 4);
}

/* !con la etiqueta * le decimos a todos los objetos del HTML*/
* {
    transition: all 0.5s;
}


body {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background: #a9d3ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: calibri;
}

body.darkmode {
    background-color: #262730;
}

div {
    display: inline-block;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px #9d8189;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode .cara {
    box-shadow: inset 0 0 0 5px #0d1b2a;
}

.trasera {
    background-color: #ffcad4;
    transform: rotateY(180deg);
}

.darkmode .trasera {
    background-color: #415a77;
}

.superior {
    background: linear-gradient(#415a77, #e0e1dd);
}

.nuevo-juego {
    cursor: pointer;
    background: linear-gradient(#415a77, #e0e1dd);
    padding: 20px;
    border-radius: 50px;
    border: #ffe5d9 5px solid;
    font-size: 130%;
}

.darkmode .nuevo-juego {
    border: #0d1b2a 5px solid;
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}

/*Boton tipo slider*/

.switch {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 70px;
    height: 40px;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.2s ease;
}

.switch label .icon {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 25px;
    line-height: 1;
    transition: transform 0.2s ease;
}

.switch label .sun {
    color: #FFA500;
}

.switch label .moon {
    color: #333;
    transform: translateX(25px);
}

.switch input:checked+label {
    background-color: #2196F3;
}

.switch input:checked+label .icon.sun {
    transform: translateX(25px);
}

.switch input:checked+label .icon.moon {
    transform: translateX(0);
}